// Resource file for SymExplorer
//
// $Id: SymExplorer.rc 3170 2026-07-17 19:05:37Z roger $

#define MINOR_VERSION 3169
#define DESCRIPTION "Explore the debugging symbols for a module"
#define APPLICATION

#include "../include/version.rc"
